ul{
    list-style: none;


}

li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    line-height: 1em;

    background-color: linen;
    margin-bottom: 2px;;
}