    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedList" (ngModelChange)="onSelectList()" name="list">
            <mat-option [value]="" selected> - none - </mat-option>
            <mat-option *ngFor="let list of lists" [value]="list">
                {{list}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="error-wrapper" *ngIf="(error$ | async)">
        <bold>Error: </bold>{{(error$ | async)?.message}}
    </div>

    <div *ngIf="!(error$ | async)">
        <div class="loading-wrapper">
            <span *ngIf="(loading$ | async)">{{(loading$ | async)}}</span>
        </div>
        <div *ngIf="!selectedList">No list selected</div>
        <ul cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <li *ngFor="let item of items" class="example-box" cdkDrag>
                <listr-item [item]="item" 
                            (saveItem)="saveItem($event)" 
                            (deleteItem)="deleteItem($event)"
                            (onStateChange)="onStateChange($event)"
                            >
                </listr-item>
            </li>
        </ul>
    </div>

    <listr-item *ngIf="itemToAdd" [item]="itemToAdd" (addItem)="saveNewItem($event)" (deleteItem)="cancelAdd()"
        (resetAdd)="cancelAdd()" (onStateChange)="onStateChange($event)">
    </listr-item>

    <div *ngIf="selectedList">
        <button (click)="reset()" [disabled]="!dirty" mat-icon-button title="Undo changes">
            <i class="material-icons">undo</i>
        </button>
        <button (click)="showNewItem()" [disabled]="dirty" mat-icon-button title="Add an item">
            <i class="material-icons">add</i>
        </button>

        <span *ngIf="dirty">{{dirty}}There are changes to the list.</span>
    </div>

<pre>Editing id: {{editingId}}</pre>
<pre>{{items$ | async | json}}</pre>    