<span class="item-wrapper" [ngClass]="{'dirty': dirty }">
    <input  type="checkbox" 
            [(ngModel)]="item.selected" 
            (input)="modelChanges($event)"
            [ngModelOptions]="{standalone: true}"/>

        <input  type=text 
            [(ngModel)]="item.name" 
            (input)="modelChanges($event)"
            [ngModelOptions]="{standalone: true}"/>

        <button [disabled]="!dirty" (click)="save()" mat-icon-button >
                <i class="material-icons">check_circle</i>
        </button>

        <button [disabled]="!dirty" (click)="reset()" mat-icon-button >
                <i class="material-icons">cancel</i>
        </button>
        
        <button [disabled]="dirty" (click)="delete()" mat-icon-button >
                <i class="material-icons">delete</i>
        </button>
</span>
