<span  class="item-wrapper" 
       [ngClass]="{'dirty': dirty }" 
       fxLayout="row">

    <div fxFlex>
        <input type="checkbox" 
            [(ngModel)]="item.selected" 
            (input)="modelChanges($event)"
            [ngModelOptions]="{standalone: true}"/>

        <input  type=text 
            [(ngModel)]="item.name" 
            (input)="modelChanges($event)"
            [ngModelOptions]="{standalone: true}"/>
    </div>
    <div fxFlex="6em" style="text-align: right">
        <button [hidden]="!dirty" (click)="save()" mat-icon-button title="Save">
                <i class="material-icons">check_circle</i>
        </button>

        <button [hidden]="!dirty" (click)="reset()" mat-icon-button title="Cancel">
                <i class="material-icons">cancel</i>
        </button>
        
        <button [hidden]="dirty" (click)="delete()" mat-icon-button title="Remove item">
                <i class="material-icons">delete</i>
        </button>
    </div>
</span>
