html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type='text'] {
    outline: none;
    border: none;
    padding: 0.1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

[hidden] {
    display: none !important;
}

h1,h2,h3 {
    margin-bottom: 4px!important;
}